<%
   pages       = active_filters[:pages]
   states      = active_filters[:states]
   sinks       = active_filters[:sinks]
   platforms   = active_filters[:platforms]
   kinds       = active_filters[:kinds]
   value_types = active_filters[:value_types]
%>

<div class="row">
    <div class="col-md-12" id="entry-filter-actions">
        <form class="simple_form" id="scan-results-filter">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-row d-flex justify-content-center">

                      <table class="table table-sm table-dark">
                        <thead>
                          <tr>
                            <th colspan="<%= data[:states].size %>">
                              Status
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <% i = 0
                                 data[:states].each do |state, count| %>
                              <td>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="entry-state-<%= state %>"
                                         name="filter[states][]" value="<%= state %>"
                                         <%= "checked=checked" if states.empty? || states.include?( state ) %>
                                    />

                                  <label class="form-check-label" for="entry-state-<%= state %>">
                                    <%= h = state.humanize; i == 0 ? h : h.downcase %>
                                    ( <i class="fa fa-<%= entry_state_to_icon state %>"></i>
                                    <%= count %>)
                                  </label>
                                </div>
                                <% i += 1 %>
                              </td>
                              <% end %>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  <div class="flex-row d-flex justify-content-center">
                    <table class="table table-sm table-dark">
                      <thead>
                      <tr>
                        <th colspan="<%= data[:input_vector_kinds].size %>">
                          Input types
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <% i = 0
                             data[:input_vector_kinds].each do |kind, count| %>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="entry-kind-<%= kind %>"
                                     name="filter[kinds][]" value="<%= kind %>"
                                     <%= "checked=checked" if kinds.empty? || kinds.include?( kind ) %>
                                />

                              <label class="form-check-label" for="entry-kind-<%= kind %>">
                                <%= h = kind.humanize; i == 0 ? h : h.downcase %>
                                (<%= count %>)
                              </label>
                            </div>
                            <% i += 1 %>
                          </td>
                          <% end %>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="flex-row d-flex justify-content-center">
                    <table class="table table-sm table-dark">
                      <thead>
                      <tr>
                        <th colspan="<%= data[:value_types].size %>">
                          Value types
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <% i = 0
                           data[:value_types].each do |type, count| %>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="entry-sink-<%= type %>"
                                     name="filter[value_types][]" value="<%= type %>"
                                     <%= "checked=checked" if value_types.empty? || value_types.include?( type ) %>
                                />

                              <label class="form-check-label" for="entry-sink-<%= type %>">
                                <%= h = type.humanize; i == 0 ? h : h.downcase %>
                                (<%= count %>)
                              </label>
                            </div>
                            <% i += 1 %>
                          </td>
                        <% end %>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="flex-row d-flex justify-content-center">
                    <table class="table table-sm table-dark">
                      <thead>
                      <tr>
                        <th colspan="<%= data[:platforms].size %>">
                          Platforms
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <% i = 0
                           data[:platforms].each do |platform, count| %>
                              <td>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="entry-platform-<%= platform %>"
                                   name="filter[platforms][]" value="<%= platform %>"
                                   <%= "checked=checked" if platforms.empty? ||platforms.include?( platform ) %>
                              />

                            <label class="form-check-label" for="entry-platform-<%= platform %>">
                              <%= h = platform.humanize; i == 0 ? h : h.downcase %>
                              (<%= count %>)
                            </label>
                          </div>
                          <% i += 1 %>
                              </td>
                        <% end %>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="flex-row d-flex justify-content-center">
                    <table class="table table-sm table-dark">
                      <thead>
                      <tr>
                        <th colspan="<%= data[:sinks].size %>">
                          Sinks
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                    <% i = 0
                       data[:sinks].each do |sink, count| %>
                        <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="entry-sink-<%= sink %>"
                                 name="filter[sinks][]" value="<%= sink %>"
                                 <%= "checked=checked" if sinks.empty? || sinks.include?( sink ) %>
                            />

                          <label class="form-check-label" for="entry-sink-<%= sink %>">
                            <%= h = sink.humanize; i == 0 ? h : h.downcase %>
                            (<%= count %>)
                          </label>
                        </div>
                        <% i += 1 %>
                        </td>
                    <% end %>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>

            <% pages.each do |id| %>
                <input type="hidden" name="filter[pages][]" value="<%= id %>" />
            <% end %>
        </form>
    </div>
</div>

<div class="row">
  <div class="form-group">
    <input name="entry-affected_input_name-search"
           class="form-control"
           placeholder="Search entries by input name"
           autocomplete="off"
           id="entry-affected_input_name-search"/>
  </div>
</div>
