<%
    force_show_logged_by      = local_assigns[:force_show_logged_by]
    hide_state_icon           = local_assigns[:hide_state_icon]
    show_reviewed_by_revision = local_assigns[:show_reviewed_by_revision]
    siblings = {}
%>

<div class="row">
  <div class="col-md-12">
    <div>
      <table class="table table-sm table-borderless table-hover table-striped table-entry-summary">
        <thead>
        <% if !hide_state_icon %>
          <th>Reviewed</th>
          <th></th>
        <% end %>

        <th>Name</th>
        <th>Input type</th>
        <th>Value type</th>
        <th>Sink</th>
        <th>Platforms</th>

        <% if !@sitemap_entry %>
          <th>Resource</th>
        <% end %>

        <% if show_reviewed_by_revision %>
          <th>Reviewed by</th>
        <% end %>

        <% if force_show_logged_by || (!@scan || !@revision) %>
          <th>Logged by</th>
        <% end %>
        </thead>
        <tbody>

<%
    index = 0
    data[:entries].each do |entry|
        next if siblings[entry.digest]

        index += 1
        siblings[entry.digest] = true
%>
            <tr id="<%= id %>-entry-<%= entry.digest %>"
                onclick="<%= "$('#entry-notes-#{entry.note.id}').toggle()" if !entry.note.text.blank? || entry.note.attachments.any? %>"
                class="entry-row <%= 'table-info entry-with_notes' if !entry.note.text.blank? || entry.note.attachments.any? %>"
            >

                <% if !hide_state_icon %>
                    <td class="entry-list-review-form edit_entry">
                      <form action="<%= site_scan_revision_entry_path( entry.site, entry.scan, entry.revision, entry ) %>"
                            data-remote="true"
                            method="post"
                      >
                        <input type="hidden" name="_method" value="patch" autocomplete="off" />
                        <input type="hidden" name="entry[state]"
                               value="<%= entry.state == 'reviewed' ? 'pending' : 'reviewed' %>"
                               autocomplete="off" />
                        <input class="entry-state" type="checkbox" <%= 'checked' if entry.state == 'reviewed' %> />

                      </form>
                    </td>

                    <td id="<%= id %>-entry-<%= entry.digest %>-state-icon">
                        <%= link_to site_scan_revision_entry_path( entry.site_id, entry.scan, entry.revision, entry ),
                                    title: entry.state.humanize do %>
                            <i class="fa fa-<%= entry_state_to_icon entry.state %>">
                            </i>
                        <% end %>
                    </td>
                <% end %>

                <td class="entry-affected_input_name" id="<%= id %>-entry-<%= entry.digest %>-affected_input_name">
                  <code><%= entry.input_vector.affected_input_name %></code>
                </td>

                <td id="<%= id %>-entry-<%= entry.digest %>-vector-kind">
                    <code><%= entry.input_vector.kind %></code>
                </td>

              <td class="entry-value_type" id="<%= id %>-entry-<%= entry.digest %>-value_type">
                <span class="pull-left badge label-severity-none">
                  <%= entry.input_vector.value_type %>
                </span>
              </td>

              <% sink_name = entry.sinks.first.name %>
              <td id="<%= id %>-entry-<%= entry.digest %>-characteristics">
                <span class="pull-left badge label-severity-none" data-toggle="tooltip" data-placement="top" title="<%= sink_to_description( sink_name ) %>">
                  <%= sink_name %>
                </span>
              </td>

              <td id="<%= id %>-entry-<%= entry.digest %>-platforms">
                <% entry.platforms.map(&:name).each do |platform| %>
                  <span class="pull-left badge label-severity-none">
                    <%= platform %>
                  </span>
                <% end %>
              </td>

                <% if !@sitemap_entry %>
                    <td id="<%= id %>-entry-<%= entry.digest %>-vector-action">
                        <%= link_to_url_with_external(
                                external: entry.input_vector.action,
                                internal: sitemap_entry_url( entry.sitemap_entry ),
                                display_path_only: true
                            )
                        %>
                    </td>
                <% end %>

                <% if show_reviewed_by_revision %>
                    <%
                       reviewer = entry.reviewed_by_revision
                    %>
                    <td id="<%= id %>-entry-<%= entry.digest %>-reviewer">
                        <%= link_to "#{reviewer} of #{reviewer.scan} scan",
                                    site_scan_revision_path(
                                            reviewer.site_id,
                                            reviewer.scan_id,
                                            reviewer,
                                            filter_params
                                    ) %>
                    </td>
                <% end %>

                <% if force_show_logged_by || (!@scan || !@revision) %>
                    <td id="<%= id %>-entry-<%= entry.digest %>-loggers">
                        <% if !force_show_logged_by && @scan %>
                            <%= link_to entry.revision,
                                        site_scan_revision_path(
                                                entry.site_id,
                                                entry.scan_id,
                                                entry.revision_id,
                                                filter_params
                                        ) %>
                        <% else %>
                            <ul class="list-unstyled">
                                <li>
                                    <% if !hide_state_icon %>
                                        <%= link_to "#{entry.revision} of #{entry.scan} scan",
                                                    site_scan_revision_path(
                                                            entry.site_id,
                                                            entry.scan_id,
                                                            entry.revision_id,
                                                            filter_params
                                                    ) %>
                                    <% else %>
                                        <%= link_to "#{entry.revision} of #{entry.scan} scan",
                                                    site_scan_revision_entry_path(
                                                            entry.site_id,
                                                            entry.scan_id,
                                                            entry.revision_id,
                                                            entry,
                                                            filter_params
                                                    ) %>
                                    <% end %>
                                </li>

                                <%
                                   entry.siblings.each do |sibling|
                                       # If the sibling is this entry then it won't
                                       # have scan and revision data preloaded so
                                       # do this little optimization here.
                                       next if sibling.id == entry.id
                                %>
                                    <li>
                                    <% if !hide_state_icon %>
                                        <%= link_to "#{sibling.revision} of #{sibling.scan} scan",
                                                        site_scan_revision_path(
                                                                sibling.site_id,
                                                                sibling.scan_id,
                                                                sibling.revision_id,
                                                                filter_params
                                                        ) %>
                                    <% else %>
                                        <%= link_to "#{sibling.revision} of #{sibling.scan} scan",
                                                    site_scan_revision_entry_path(
                                                            sibling.site_id,
                                                            sibling.scan_id,
                                                            sibling.revision_id,
                                                            sibling,
                                                            filter_params
                                                    ) %>
                                    <% end %>
                                </li>
                            <% end %>
                            </ul>
                        <% end %>
                    </td>
                <% end %>
            </tr>


          <% if !entry.note.text.blank? || entry.note.attachments.any? %>
            <tr
              class="entry-notes info"
              id="entry-notes-<%= entry.note.id %>">
              <td></td>
              <td colspan="7">
                <% if !entry.note.text.blank? %>
                  <%= md entry.note.text %>
                <% end %>

                <% if entry.note.attachments.any? %>
                  <ul>
                    <% entry.note.attachments.each do |attachment| %>
                      <li>
                        <%= link_to attachment do %>
                          <%= attachment.name %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
            </tr>
          <% end %>

        <% end %>
</tbody>
</table>
</div>
</div>
</div>
