<% if !@entry.input_vector.source.to_s.empty? %>
    <div class="source">
        <%= code_highlight( @entry.input_vector.source ) %>
    </div>
<% end %>

<div class="input_vector-info">
    <table class="table table-sm table-fixed">
        <colgroup>
            <col width="10%"/>
        </colgroup>

        <thead>
            <tr>
                <th>Type</th>
                <th>Value type</th>

                <% if @entry.active? %>
                    <% if !@entry.input_vector.http_method.to_s.empty? %>
                    <th>
                        Method
                    </th>
                    <% end %>

                    <th>
                        <%= [:xml, :json].include?( @entry.input_vector.kind ) ? 'Location' : 'Name' %>
                    </th>
                <% end %>

                <th>At</th>
                <th>Pointing to</th>
            </tr>
        </thead>
        <tr>
            <td><code><%= @entry.input_vector.kind %></code></td>
            <td>
                <span class="badge label-severity-none">
                  <%= @entry.input_vector.value_type %>
                </span>
            </td>

            <% if @entry.active? %>
                <% if !@entry.input_vector.http_method.to_s.empty? %>
                <td><%= @entry.input_vector.http_method %></td>
                <% end %>

                <td><code><%= @entry.input_vector.affected_input_name %></code></td>
            <% end %>

            <td>
                <%= link_to_url_with_external external: @entry.referring_page.dom.url,
                                              internal: '#',
                                              display_path_only: true %>
            </td>
            <td>
                <%= link_to_url_with_external external: @entry.input_vector.action,
                                              internal: '#',
                                              display_path_only: true %>
            </td>
        </tr>
    </table>
</div>

<% if @entry.input_vector.default_inputs.any? && @entry.input_vector.inputs.any? %>
    <div class="input_vector-values">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= render '/shared/hash',
                                   object: @entry.input_vector.default_inputs,
                                   highlight: @entry.input_vector.affected_input_name,
                                   code: true
                        %>
                    </td>
                </tr>
            <tbody>
        </table>
    </div>
<% end %>
